:root {
  --text-primary: "Jaro", sans-serif;
  --text-secondary: "Lilita One", sans-serif;
  --text-tertiary: "Roboto Condensed", sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  margin: 0;
  background-color: #212529;

  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 4fr;

  font-family: var(--text-primary);
}

nav {
  grid-row: 1/2;
  grid-column: 1/3;
}

#todos {
  grid-row: 2/3;
  grid-column: 2/3;

  width: 100%;
  background-color: #dee2e6;
}

#sidebar {
  grid-row: 2/3;
  grid-column: 1/2;

  width: 100%;
  background-color: #e9ecef;
}

button {
  border: none;
  background-color: #ced4da;
}

/* index page */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #adb5bd;
  height: 10vh;
}

nav p:nth-child(1) {
  margin-left: 2%;
  font-size: 2.5em;
}

nav p:nth-child(2) {
  margin-right: 2%;
  font-size: 1.3em;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.daily-todo,
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: 15%;

  margin-left: 8%;
}

.daily-todo p,
.projects p {
  font-size: 1.8em;
  color: #495057;

  margin: 5%;
}

.daily-todo button,
.projects button {
  width: 90%;
  height: 35%;

  border-radius: 8px;
}

/* dialog styling */
dialog {
  border: none;
  border-radius: 8px;

  height: 40%;

  background-color: lightgrey;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.todo-container,
.todo-form,
.project-todo-container,
.project-todo-form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3%;

  background-color: lightgrey;
}

input,
textarea,
select {
  outline: none;

  width: 100%;
  height: 12%;

  text-align: center;

  border-radius: 8px;
  border: none;

  margin: 3%;
}

.btn-make-todo,
.btn-close-todo,
.btn-make-project-todo,
.btn-close-project-todo {
  width: 90%;
  height: 10%;

  border-radius: 8px;
}

.project-dialog {
  height: 15%;
}

.project-container,
.project-form {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3%;
}

.project-form input {
  height: 30%;
}

.project-container button {
  width: 90%;
  height: 20%;

  border-radius: 8px;
}

/* styling todos */
.todo-card {
  padding: 12px;
  margin: 2%;

  width: 95%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  background-color: #f8f9fa;
}

.todo-card p {
  margin: 0;
}

.todo-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 3%;
  margin-right: 2%;
}

.todo-priority {
  padding: 6px;
  border-radius: 5px;
  width: 100%;
}

.btn-delete-todo {
  width: 100%;
  padding: 4px;
  cursor: pointer;
}

.btn-expand-todo {
  width: 100%;
  padding: 6px;
  cursor: pointer;
}

.todo-priority {
  border-radius: 50%;
  width: auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 12px;
}

.todo-title {
  font-size: 1.5em;
  font-weight: 600;
  font-family: var(--text-secondary);

  color: #495057;
  padding: 8px;
}

.todo-dueDate {
  font-size: 0.9em;
  font-family: var(--text-secondary);
  font-weight: 100;

  padding: 8px;
  color: #adb5bd;
}

/* styling info modal */
.info-dialog {
  width: 30%;
  height: 30%;

  /* background-color: #8d99ae; */
  background-color: #edf2f4;
  border: none;
}

.info-dialog p {
  margin: 0;

  font-family: var(--text-tertiary);
}

.info-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.info-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 3%;
}

.info-heading p {
  font-size: 2.4em;
  font-weight: 800;
  padding: 4px;
  color: #343a40;
}

.info-heading button {
  outline: none;
  padding: 4px;
}

.info-container p:nth-child(2) {
  font-size: 1.4em;
  font-weight: 400;
  color: #495057;
  padding: 4px;
}

.info-container p:nth-child(3) {
  font-size: 1.2em;
  font-weight: 300;
  color: #6c757d;
  padding: 4px;
}

.btn-info-close {
  padding: 4px;
  margin-left: 4px;
  margin-top: 4px;

  width: 20%;
  height: 15%;
  border-radius: 8px;
  font-family: var(--text-tertiary);
  font-size: 0.8em;
  font-weight: 400;
  color: #343a40;
}
