:root {
  --text-primary: "Jaro", sans-serif;
  --text-secondary: "Lilita One", sans-serif;
  --text-tertiary: "Roboto Condensed", sans-serif;
}

body {
  width: 100%;
  height: 100vh;

  margin: 0;
  background-color: #212529;

  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 4fr;

  font-family: var(--text-primary);
}

nav {
  grid-row: 1/2;
  grid-column: 1/3;
}

#todos {
  grid-row: 2/3;
  grid-column: 2/3;

  width: 100%;
  background-color: #dee2e6;
}

#sidebar {
  grid-row: 2/3;
  grid-column: 1/2;

  width: 100%;
  background-color: #e9ecef;
}

button {
  border: none;
  background-color: #ced4da;
}

/* index page */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #f8f9fa;
  height: 10vh;
}

.page-title {
  margin-left: 2%;
  font-size: 2.7em;

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.filter-by {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filter-by p {
  cursor: pointer;
  font-size: 1.2em;
}

.filter-by p:hover {
  text-decoration: underline;
}

.name-tag {
  margin-right: 2%;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.daily-todo,
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: 15%;

  margin-left: 8%;
  padding: 2%;
}

.daily-todo p,
.projects p {
  font-size: 2.2em;
  color: #212529;

  margin: 5%;
}

.daily-todo button,
.projects button {
  width: 90%;
  height: 35%;

  border-radius: 8px;
  background-color: #f8f9fa;

  font-size: 0.9em;
  font-family: var(--text-tertiary);
  font-weight: bold;
  color: #495057;
  cursor: pointer;
}

/* dialog styling */
dialog {
  border: none;
  border-radius: 8px;

  height: 40%;

  background-color: lightgrey;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.project-todo-container,
.project-todo-form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3%;

  background-color: lightgrey;
}

.btn-make-todo,
.btn-make-project-todo,
.btn-close-project-todo {
  width: 90%;
  height: 10%;

  border-radius: 8px;
}

/* project dialog */

.project-dialog {
  height: 25%;
  width: 30%;
}

.project-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-header p {
  font-size: 2em;
  font-weight: 100;

  margin: 0;
  margin-left: 4%;
}

.project-close-icon {
  width: 5%;
  height: auto;

  margin-right: 5%;
  cursor: pointer;
}

.project-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3%;
}

.project-form {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: self-start;

  gap: 3%;
  margin-left: 6%;
}

.project-form input {
  height: 20%;
  width: 90%;

  margin: 0;
  text-align: left;
  padding: 1%;
  outline: none;
  border: none;
  border-radius: 6px;
}

.project-form label {
  font-size: 1.1em;
}

.project-container button {
  width: 30%;
  height: 20%;

  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

/* todo dialog styles */
.todo-dialog {
  height: 70%;
  width: 40%;
}

.todo-dialog .todo-container {
  padding: 20px;
}

.todo-dialog .header-container {
  text-align: center;
  margin-bottom: 20px;
}

.todo-dialog .todo-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.todo-dialog .todo-title-label,
.todo-dialog .todo-description-label,
.todo-dialog .todo-dueDate-label,
.todo-dialog .todo-priority-label {
  margin-bottom: 20px;
}

.todo-dialog label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.todo-dialog input[type="text"],
.todo-dialog textarea,
.todo-dialog input[type="date"],
.todo-dialog select {
  outline: none;
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

.todo-dialog select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" viewBox="0 0 24 24" stroke="currentColor" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
  background-position: right 10px top 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.todo-dialog button {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-dialog button:hover {
  background-color: #0056b3;
}

.header-container {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.btn-close-todo {
  width: 7%;
  cursor: pointer;
}

/* styling todos */
.todo-card {
  padding: 12px;
  margin: 2%;

  width: 95%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  background-color: #f8f9fa;
}

.todo-card p {
  margin: 0;
}

.todo-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 3%;
  margin-right: 2%;
}

.todo-priority {
  padding: 6px;
  border-radius: 5px;
  width: 100%;
}

.btn-delete-todo {
  width: 100%;
  padding: 4px;
  cursor: pointer;
}

.btn-expand-todo {
  width: 100%;
  padding: 6px;
  cursor: pointer;
}

.todo-priority {
  border-radius: 50%;
  width: auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 12px;
}

.todo-title {
  font-size: 1.5em;
  font-weight: 600;
  font-family: var(--text-secondary);

  color: #495057;
  padding: 8px;
}

.todo-dueDate {
  font-size: 0.9em;
  font-family: var(--text-secondary);
  font-weight: 100;

  padding: 8px;
  color: #adb5bd;
}

/* styling info modal */
.info-dialog {
  width: 30%;
  height: 30%;

  background-color: #edf2f4;
  border: none;
}

.info-dialog p {
  margin: 0;

  font-family: var(--text-tertiary);
}

.info-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.info-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 3%;
}

.info-heading p {
  font-size: 2.4em;
  font-weight: 800;
  padding: 4px;
  color: #343a40;
}

.info-heading button {
  outline: none;
  padding: 4px;
}

.info-container p:nth-child(2) {
  font-size: 1.4em;
  font-weight: 400;
  color: #495057;
  padding: 4px;
}

.info-container p:nth-child(3) {
  font-size: 1.2em;
  font-weight: 300;
  color: #6c757d;
  padding: 4px;
}

.btn-info-close {
  padding: 4px;
  margin-left: 4px;
  margin-top: 4px;

  width: 20%;
  height: 15%;
  border-radius: 8px;
  font-family: var(--text-tertiary);
  font-size: 0.8em;
  font-weight: 400;
  color: #343a40;
}

/* project names styling */
.project-names {
  width: 100%;
  margin-left: 8%;

  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}

.project-names-container {
  width: 16.5vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
  padding: 4%;
  margin: 3%;

  background-color: #f8f9fa;
  border-radius: 8px;
}

.project-title {
  background-color: #f8f9fa;
  cursor: pointer;

  font-family: var(--text-secondary);
  font-size: 1.3em;
  color: #495057;
}

.btn-delete-project {
  cursor: pointer;
}

.todo-icon {
  width: 35%;
}
